$primaryColor: #427ac2;
$secondaryColor: #91bade;

//Mixins
@mixin padding-margin($up-down, $left-right) {
    margin:0px;
    padding: $up-down $left-right;
}

body {
    p, li {
        text-align: justify;
    }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.2em
    }
    h5 {
        font-size: 1em;
    }
}

.jumbotron {
    @include padding-margin(20px, 10px);
    background-color: $primaryColor;
    color:white;
    img {
        border-radius: 10px;
        width: 160px;
        height: 174;
        box-shadow: 5px 3px 5px black;
    }
    .btn {
        box-shadow: 5px 3px 5px black;
    }
}

.card {
    box-shadow: 5px 3px 5px gray;
    .card-header {
        padding: .3em 1em;
        .btn-group{
            border: 1px solid grey;
            border-radius: 5px;
            .btn {
                box-shadow: none !important;
            }
        }
    }
    .card-body {
        border: 1px solid $secondaryColor;
        a {
            color: black;
        }
    }
}

.row-content {
    @include padding-margin(20px, 10px);
}

.main-list li {
    padding: 10px;
    ul {
        display: inline;
    }
}

.skills {
    @include padding-margin(10px, 0px);
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            margin:3px;
            .badge {
                font-weight: normal;;
                font-size: 0.9em;
                padding: 0.7em 0.9em;
            }
        }
    }
    #lang {
        display: grid;
        flex-wrap: wrap;
        padding: 0px 15px;
    }
}

.footer {
    @include padding-margin(20px, 10px);
    color: white;
    .btn {
        box-shadow: 5px 3px 5px black;
    }
    a {
        color: white;
    }
}


.borderbottom {
    border-bottom: 1px solid $secondaryColor;
}


.btn, .badge {
    box-shadow: 5px 3px 5px gray;
}